* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  width: 100vw;
  overflow: hidden;
}
.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: orange;
}

.logo {
  color: white;
  font-size: 30px;
  font-weight: 800;
}

nav ul {
  display: flex;
}

ul li {
  margin-left: 20px;
}

ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  transition: all 0.3s;
}

ul li a:hover {
  color: blueviolet;
}

input[type="checkbox"] {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: 0;
}

.icon {
  color: white;
  font-size: 30px;
  display: none;
}

.navbar {
  overflow: hidden;
  display: flex;
}

// Mobile screen
@media screen and (max-width: 480px) {
  body {
    background-color: red;
  }
}
/* ipad and tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-color: blue;
  }
  h1 {
  }
}
/* small sreens and laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    background-color: salmon;
  }
  .icon {
    display: block;
  }
  .menu-wrap {
    // display: none;
    right: -200px;
    position: absolute;
    top: 80px;
    width: 200px;
    background-color: rgb(30, 146, 49);
    height: calc(100vh - 80px);
    transition-property: all;
    transition-duration: 1s;
  }

  input[type="checkbox"]:checked + .icon {
    color: blueviolet;
  }

  input[type="checkbox"]:checked ~ .menu-wrap {
    // display: block;
    right: 0;
    transition-property: right;
    transition-duration: 1s;
  }

  ul {
    flex-direction: column;
  }

  ul li {
    margin: 10px auto;
  }
}

/* Desktop screen */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    background-color: violet;
  }
}
