@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto:wght@300&display=swap");
h1,
h2 {
  margin-bottom: 0;
}
.strikethrough {
  text-decoration: line-through;
  color: gray;
}

h1 {
  color: #1c315e;
  font-family: "Noto sans", sans-serif;
  text-align: center;
  font-size: 3.4rem;
}
h2 {
  font-size: 1.4rem;
}
body {
  font-family: "roboto";
  height: 100vh;
}

#date {
  color: #1c315e;
}

#number-of-to-dos {
  color: #8e8e8e;
}

#top-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#center-entry {
  display: flex;
  justify-content: center;
  margin: 0rem 2rem 0rem 2rem;
  align-items: stretch;
  height: 60px;
}
#center-entry input,
#to-do-input {
  font-size: 1.5rem;
  /* height: 1.7rem; */
  width: 30rem;
  border: none;
  border-bottom: solid 2px #f49d1a;
  color: #1c1313;
  background-color: #fbf6f6;
  padding: 0.8rem;
}
#to-do-input:focus {
  outline: none;
}
#add {
  background-color: #f49d1a;
  width: 5rem;
  padding: 0.8rem;
  border: none;
  position: relative;
  color: white;
  transition: 0.5s;
}

#add:hover {
  cursor: pointer;
  background-color: #1c315e;
}

img {
  width: 40%;
  height: auto;
}

#tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #1c315e;
}
.task {
  border: none;
  display: flex;
  justify-content: space-between;
  width: 35rem;
  padding: 20px;
  background-color: #eeeeee;
  margin-top: 0.5rem;
  border: 5px solid #f49d1a;
  border-radius: 5px;
}

.high {
  border-color: red;
}
.medium {
  border-color: #f49d1a;
}
.low {
  border-color: green;
}

.text {
  border: none;
  background-color: transparent;
  padding: 0.3rem;
  font-size: 1.5rem;
}
.text:focus {
  outline: none;
}

#tasks .task .content .text:not(:read-only) {
  color: #8e8e8e;
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.actions button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.actions button:hover {
  opacity: 0.5;
}

.actions .edit {
  color: black;
}
.actions .done {
  color: #285430;
}

.actions .delete {
  color: red;
}
#left-header-section {
  display: flex;
  gap: 50px;
}
#tasks-list {
  max-width: 600px;
  margin: 0 auto;
}
